body {
  font-family: 'Alfa Slab One', cursive;
}


.navbar {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 60px;
    padding: 40px
  }
  
  .logo img {
    max-height: 100%; 
    max-width: 100%; 
    height: 250px;
    width: 250px;
  }

  .artwork-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
  }
  
  .artwork-item {
    width: 33%; 
    margin-bottom: 20px; 
    display: flex;
    justify-content: center; 
    padding-bottom: 10px;
    position: relative;
  }
  
  .artwork-item img {
    max-width: 100%;
    height: auto;
  }
  
  @media screen and (max-width: 1200px) {
    .artwork-item {
      width: calc(50% - 20px); 
    }
  }

  
  @media screen and (max-width: 768px) {
    .artwork-item {
      width: 100%; 
    }
  }

.artwork-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease; 
}

.artwork-back {
  opacity: 0; 
  visibility: hidden; 
}

.artwork-item:hover .artwork-image {
  opacity: 0; 
  visibility: hidden; 
}

.artwork-item:hover .artwork-back {
  opacity: 1;
  visibility: visible; 
}

.label {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    text-align: center; 
  }

.footer {
  padding: 20px;
  text-align: center;
}

.footer p {
  color: #DF5479;
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
}

.footer a {
  text-decoration: none;
}